__pycache__

.aim/
.ruff_cache/

*.pyc
/output/
/build/
/screenshots/
/data/
/tmp*/
/eval/
/out/
/out_*/
/TODO.md
/.envrc
*.ignore.*
*.ignore
*.out
/tests/output
/artifacts
.pytest_cache/
.venv
.worktrees
/results
/tmp*

# tmp
*.pdf
*.csv
linux_biolinum
videos/
vram_*
