
.venv
.vs
.envrc

/build*
/data*

/tmp*
/out*

/results*
/artifacts*
/screenshots*
/videos*
/TODO*.md

*.ignore.*
*.ignore
*.out

/tests/output*

viewer_layout.ini

__pycache__
.ruff_cache
*.pyc
.pytest_cache
.worktrees

AGENTS.md
.claude
CLAUDE.md
/worktrees